[Unit]
Description=Amazon Elastic Container Service - container agent
Documentation=https://aws.amazon.com/documentation/ecs/
Wants=docker.service
PartOf=docker.service
#After=docker.service
After=cloud-final.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
EnvironmentFile=-/var/lib/ecs/ecs.config
EnvironmentFile=-/etc/ecs/ecs.config
ExecStartPre=/usr/libexec/amazon-ecs-init pre-start
ExecStart=/usr/libexec/amazon-ecs-init start
ExecStop=/usr/libexec/amazon-ecs-init stop
ExecStopPost=/usr/libexec/amazon-ecs-init post-stop